* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hind', sans-serif;
    background-color: yellow;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 80px 1fr 60px;
    grid-template-areas:    "navegador"
                            "selector"
                            "galeria"
                            "footer";

}

@media (min-width: 576px) {
    body {
        background-color: black;
    }

    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 80px 1fr 100px;
        grid-template-areas:    "navegador selector"
                                "navegador galeria"
                                "footer galeria";
    }

    .encabezado {
        flex-direction: column;
        justify-content: start;
        color: black;
        background-color: yellow;

    }

    .menu {
        display: none;
    }

    .galeria {
        padding-top: 15px;
    }

    .container_cards {
        overflow: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 35px;
    }

    .encabezado ul {
        display: block;
        font-size: 18px;
        font-weight: 600;
        padding-top: 15px;
        list-style: none;

    }

    .encabezado li {
        padding: 10px;
    }

    .encabezado h1 {
        font-size: 26px;
    }

    .botones {
        display: flex;
        padding-top: 50px;
    }

    .botones button {
        width: 30px;
        height: 30px;
        color: black;
        background-color: yellow;
        border: solid 1px black;
    }

    .cards {
        background-color: yellow;
        color: black;
    }

    .cards span {
        font-weight: 600;
    }

    footer {
        display: flex;
        background-color: yellow;
        color: black;
        align-items: center;
        justify-content: center;

    }

    footer span {
        font-size: 15px;
    }

    .prueba {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .foot2 {

        display: flex;
        width: 30px;

    }

    .logo3 {
        width: 60px;
        display: block;

    }


    .filtros {
        background-color: black;
        color: yellow;
    }

    .filtros span {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}